filter {
	if [type] == "json" {
		json {
		    source => "message"
			add_field => { "layer" => "%{layer}" }
			add_field => { "site" => "%{site}" }
			add_field => { "host" => "%{host}" }
		}
	} else if [type] == "syslog" and [role] == "ossec" {
		multiline {
			pattern => "^\*\*"
			negate => true
			what => "previous"
		}
	} else if [type] == "syslog" {
		grok {
			match => { "message" => "%{SYSLOGLINE}" }
		}
	}

	if [type] == "haproxy" {
		grok {
			match => ["message", "%{HAPROXYHTTP}"]
		}
	}
}
