output {
	elasticsearch {
		cluster => "logsearch"
		protocol => "transport"
		host => [
	{% for host in logstash_elasticsearch_hosts %}
		{% if loop.index0 > 0 %},{% endif %}
		"{{ host }}:9300"
	{% endfor %}
		]
	}
}
